.navbar {
  width: 90%;
  margin: auto;
  padding: 16px;
  border-bottom: 1px solid #ddd;
}

.navbarTopRight {
  display: flex;
  gap: 1em;
}

.navLinkContainer {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.navLinks {
  display: flex;
  gap: 20px;
}

.navLinks a {
  font-weight: bold;
}

.menuButton {
  display: none;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  padding-left: 10rem;
}
.navbarTop {
  display: flex;
  justify-content: space-between;
}

.navbarLogo img {
  height: 1.5rem;
  width: 1.5rem;
  cursor: pointer;
}

.navbarTopRight span {
  cursor: pointer;
}

/* Responsive */
@media (max-width: 768px) {
  .navLinks {
    display: none;
  }
  .menuButton {
    display: block;
    background: none;
    border: none;
    font-size: 24px;
  }
}
